@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


/*Contents*/
/*
    1. General
    2. NAVBAR
    3. Index (Live)
    4. FOOTER
*/

/* 1. General CSS - Start*/

html, body {
    background-color: #303030;
    color: white;
    height: 100%;
    margin: 0;
}

body {
    background-image: url('/media/images/background.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    height: 100%;
    margin: 0;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

#blazor-error-ui {
    background: #EC8824;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/*Scrollbar CSS - Start*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/*Scrollbar CSS - Start*/

/* General CSS - End*/

/* 2. NAVBAR CSS - Start*/

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: red;
}

.navbar {
    background-color: #262626;
    border-bottom: 1px solid #EC8824;
}

    .navbar .Logo {
        width: 300px;
    }

    .navbar .navbar-toggler {
        background-image: url("/media/icons/Config_ico.png");
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: left;
        z-index:1;
    }

.navbar-nav .nav-item a {
    color: white;
    font-size: 25px;
    padding-left: 10px;
}

.navbar-nav .nav-item .userDetail a {
    color: white;
    font-size: 15px;
    padding-left: 10px;
}

.navbar-nav .nav-item button {
    display: inline-block;
    color: white;
    font-size: 25px;
}

.navbar-nav .nav-item .userDetail i {
    display: inline-block;
    color: red;
    font-size: 30px;
}

.navbar-nav .nav-item > .nav-link.active {
    color: #EC8824;
}

.navbar-nav .nav-item a:hover {
    color: #EC8824;
}

.navbar-nav .nav-item button:hover {
    color: #EC8824;
}

navbar-toggler::after {
    }
/* NAVBAR CSS - End*/
/* 4. Footer CSS - Start*/
.footer {
    padding-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    border-top: 1px solid #EC8824;
    background-color: #262626;
}

    .footer a {
        color: #EC8824;
    }

/* Footer CSS - End*/

.Logo {
    width: 300px;
}

.confirmation {
    position: absolute;
    background-color: #262626;
    top: 45%;
    left: 50%;
    width: 25%;
    height: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid #EC8824;
    border-radius: 25px;
    padding: 15px;
}

    .confirmation form {
        text-align: left;
    }

        .confirmation form button {
            background-color: grey;
            border: 1px solid black;
        }

            .confirmation form button:hover {
                background-color: #EC8824;
                border: 1px solid white;
            }

        .confirmation form hr {
            border-bottom: 1px solid #EC8824;
        }

        .confirmation form a {
            color: white;
        }

            .confirmation form a:hover {
                color: #EC8824;
            }

    .confirmation button {
        background-color: grey;
        border: 1px solid black;
    }

        .confirmation button:hover {
            background-color: #EC8824;
            border: 1px solid white;
        }

    .confirmation hr {
        border-bottom: 1px solid #EC8824;
    }

    .confirmation a {
        color: white;
    }

        .confirmation a:hover {
            color: #EC8824;
        }

.middle {

    background-color: #262626;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 180px;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid #EC8824;
    border-radius: 25px;
    padding: 10px;
    z-index:0;
}

@media (max-width: 767.98px) {

    .confirmation {
        width: 85%;
    }
}

@media (min-width: 768px) {

}