﻿@import url("../../Styles/open-iconic/font/css/open-iconic-bootstrap.min.css");
/* .sass file */
/* Use the variables */
/*Contents*/
/*
    1. General
      - HTML + Body
      - Scrollbar
    2. NAVBAR
    3. Modals
      - Combined
      - Alert
      - AddPOI
      - SearchPOI
    4. Index
      - Combined
      - 
      - 
      - 
    5. FOOTER
*/
/* 1. General - Start */
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #303030;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: transparent; }

::-webkit-scrollbar-thumb:hover {
  background: transparent; }

/* General CSS - End*/
/* 2. Authentication - Start */
.bgimg {
  background-image: url("/media/images/background.jpeg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white; }

.middle {
  position: absolute;
  background-color: #262626;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 180px;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px; }

.middle img {
  width: 300px; }

.middle button {
  padding: 10px;
  width: 300px;
  background-color: grey;
  color: white;
  border: 1px solid grey; }

.middle button:hover {
  background-color: #EC8824;
  border: 2px solid white; }

/* 2. Authentication - End */
/* 3. NAVBAR CSS - Start*/
.navbar {
  background-color: #262626;
  border-bottom: 1px solid #EC8824; }

.navbar .Logo {
  width: 300px; }

.navbar .navbar-toggler {
  background-image: url("../../media/icons/Config_ico.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: left; }

.navbar-nav .nav-item a {
  font-size: 25px;
  padding-left: 10px; }

.navbar-nav .nav-item button {
  display: inline-block;
  color: white;
  font-size: 25px; }

.navbar-nav .nav-item > .nav-link.active {
  color: #EC8824; }

.navbar-nav .nav-item button:hover {
  color: #EC8824; }

/* NAVBAR CSS - End*/
/* 4. Modals - Start*/
.modal-dialog {
  top: 10%;
  height: auto;
  border: 1px solid #EC8824; }

.modal-content {
  background-color: #303030; }

.modal-header {
  background-color: #262626;
  border-bottom: 1px solid #EC8824; }

.modal-header button {
  color: #EC8824; }

.modal-header button:hover {
  color: red; }

.modal-body {
  background-color: #303030; }

.modal-body .section {
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 5px; }

.imgBox {
  overflow: auto;
  height: 165px;
  border: 2px solid white; }

.imgBox .imgSlider {
  float: left;
  padding: 5px; }

.imgBox .imgSlider img {
  height: 150px;
  max-width: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.proceed {
  width: 100%;
  background-color: grey;
  color: white;
  border: 2px solid #262626; }

.proceed:hover {
  background-color: #EC8824;
  border: 2px solid white; }

.cancel {
  width: 100%;
  background-color: grey;
  color: white;
  border: 2px solid #262626; }

.cancel:hover {
  background-color: red;
  border: 2px solid white; }

.actions {
  padding-top: 10px; }

.left {
  padding: 10px;
  width: 100%;
  float: left; }

.modalAlert .modal-body {
  height: 640px;
  overflow: auto; }

.modalAlert .ListContent {
  display: block;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%; }

.modalAlert .ListContent .contentRow {
  padding-left: 20px;
  padding-right: 20px; }

.modalAlert .ListContent .contentRow .alertBlock {
  display: block;
  height: auto;
  width: 100%;
  border-bottom: 2px solid white; }

.modalAlert .ListContent .listImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding-bottom: 10px;
  float: left;
  width: 50%; }

.modalAlert .ListContent .listImage .imgCrop {
  height: 110px;
  width: 100px;
  padding-right: 5px; }

.modalAlert .ListContent .listImage .imgPOI {
  height: 110px;
  width: 90px; }

.modalAlert .ListContent .listDetail {
  height: auto;
  font-size: 12px;
  float: left;
  width: 50%; }

.modalAlert .ListContent .listDetail .contentList {
  float: left;
  width: 50%; }

.modalAddPOI .modal-body {
  height: 630px; }

.modalAddDropdown {
  padding: 10px; }

.modalAddDropdown button {
  background-color: grey;
  color: white;
  border: 2px solid #262626;
  width: 100%; }

.modalAddDropdown .dropdown-menu {
  padding-left: 10px;
  background-color: #262626;
  color: white; }

.wrapper {
  width: 100%;
  height: 160px;
  overflow: auto;
  white-space: nowrap;
  border: 1px solid #EC8824; }

.slide {
  display: inline-block;
  padding-left: 10px; }

.slide img {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  width: 90px; }

.slide input {
  width: 90px;
  font-size: 10px; }

.modalSearchPOI .modal-body {
  height: 620px; }

input[type='file'] {
  color: transparent; }

.modalSearchPOI .displayResultIMG {
  width: 100%;
  height: 100%;
  text-align: center; }

.modalSearchPOI .resultFeedback {
  color: #EC8824; }

.modalSearchPOI .resultSet {
  width: 100%;
  height: auto;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px; }

/* Modals - End*/
/* 5. Index - Start */
.filterBox {
  padding-bottom: 10px; }

.list {
  text-align: center;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding-bottom: 10px; }

.listHeader {
  padding-top: 10px;
  padding-bottom: 10px; }

.listContent {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%; }

.listContentItem {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  float: left;
  width: 50%; }

.listDropdown {
  padding: 5px; }

.listDropdown .dropdown-toggle {
  border: 1px solid grey;
  color: white;
  width: 90%; }

.listDropdown .dropdown-menu {
  padding-left: 10px;
  background-color: #262626;
  color: white; }

.listDropdown .dropdown-menu .dropdown-item {
  padding-left: 10px;
  background-color: #262626;
  color: white; }

.listDropdown .dropdown-menu .dropdown-item:hover {
  background-color: #EC8824; }

.contentRow {
  padding-left: 20px;
  padding-right: 20px; }

.btnHover {
  position: relative;
  width: 100%; }

.btnHover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent; }

.btnHover figure {
  display: block; }

.btnHover button {
  position: absolute;
  top: 20%;
  left: 95%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0; }

.btnHover:hover button {
  opacity: 1;
  color: white; }

.tooltipstyle {
  background-color: #464646; }

.cameraListCams {
  display: block;
  overflow: auto;
  width: auto; }

.camList {
  float: left;
  width: 50%;
  padding-right: 10px; }

.matchItem {
  color: white;
  border: 1px solid white;
  height: 158px; }

.matchItem .frameDate {
  background-color: #464646; }

.matchItem figure img {
  max-width: 120px;
  max-height: 120px;
  height: 120px; }

.matchItem .watchlist {
  float: left;
  text-align: center;
  width: 100%;
  background-color: #464646;
  margin: 0; }

.matchItem .camera {
  float: left;
  text-align: left;
  width: 60%;
  background-color: #464646;
  padding-left: 10px;
  margin: 0; }

.matchItem .time {
  float: right;
  text-align: right;
  width: 40%;
  background-color: #464646;
  padding-right: 10px;
  margin: 0; }

.matchItem .poi {
  float: left;
  text-align: left;
  width: 70%;
  background-color: darkred;
  padding-left: 10px;
  margin: 0; }

.matchItem .confidence {
  float: right;
  text-align: right;
  width: 30%;
  background-color: darkred;
  padding-right: 10px;
  margin: 0; }

.matchItem a {
  color: white;
  width: 100%; }

.matchItem a:hover {
  color: white; }

.matchItem .btnHover p {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0; }

.matchItem .btnHover:hover p {
  opacity: 1;
  color: white;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 2px; }

.columnAppearanceL {
  width: 50%;
  float: left; }

.columnAppearanceR {
  width: 50%;
  float: right; }

.eventItem {
  color: white;
  border: 1px solid white;
  height: 218px;
  z-index: 0; }

.eventItem figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 180px;
  max-height: 180px;
  height: 180px; }

.eventItem .camera {
  float: left;
  text-align: left;
  width: 70%;
  background-color: #464646;
  padding-left: 10px;
  margin: 0; }

.eventItem .time {
  float: right;
  text-align: right;
  width: 30%;
  background-color: #464646;
  padding-right: 10px;
  margin: 0; }

.eventItem .poi {
  float: left;
  text-align: left;
  width: 70%;
  background-color: darkred;
  padding-left: 10px;
  margin: 0;
  z-index: 1; }

.eventItem .confidence {
  float: right;
  text-align: right;
  width: 30%;
  background-color: darkred;
  padding-right: 10px;
  margin: 0; }

.eventItem figure a {
  color: white;
  width: 100%;
  z-index: 1; }

.eventItem figure a:hover {
  color: white; }

.eventItem .btnHover p {
  position: absolute;
  top: 84%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0; }

.eventItem .btnHover:hover p {
  opacity: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 2px; }

/* Index - End */
/* 6. Footer CSS - Start*/
.footer {
  padding-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  border-top: 1px solid #EC8824;
  background-color: #262626; }

.footer a {
  color: #EC8824; }

/* Footer CSS - End*/
@media (max-height: 2000px) {
  .listContent {
    height: 1035px; } }

@media (max-height: 1400px) {
  .listContent {
    height: 905px; } }

@media (max-height: 1200px) {
  .listContent {
    height: 650px; } }

@media (max-height: 1000px) {
  .listContent {
    height: 550px; } }

@media (max-width: 767.98px) {
  .listContent {
    height: 550px; }
  .modal-dialog {
    top: 10%;
    width: 95%; }
  .modalSearchPOI .modal-dialog {
    top: 3%;
    height: auto; }
  .modalSearchPOI .modal-body {
    height: auto; }
  .modalAddPOI .modal-dialog {
    top: 3%;
    height: auto; }
  .modalAddPOI .modal-body {
    height: auto; }
  .navbar-nav .nav-item a {
    padding-top: 10px;
    font-size: 20px; }
  .navbar-nav .nav-item button {
    font-size: 20px; }
  .navbar-nav .nav-item .btn-link {
    float: right; }
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

/*
@media (min-width: 768px) {
    .listContent {
        height: 610px;
        //height: 710px; // Fullscreen
        //height: 1070px; // 2xHD
        //height: 1790px; // 4K
    }

}*/
