﻿@page "/"
@*@attribute [Authorize(Roles ="Admin, User")]*@
@using CorticaIntegration.CorticaData.PoiDb
@using CorticaIntegration.CorticaData.PoiDb.Parameters
@using CorticaIntegration.CorticaData.PoiDb.Shared
@using Data
@using Microsoft.Extensions.Configuration
@using Services
@using System.Timers
@inject Services.CorticaService CorticaService
@inject IToastService toastService
@inject IJSRuntime js;

<div class="container-fluid">
    <div class="row">
        <div class="list col-sm-2">
            <div class="listHeader">
                <u><b>FILTERS:</b></u>
            </div>

            <div class="filterBox">
                <div class="listDropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Cameras</b>
                    </button>
                    <div id="lstCamFilter" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <label><input type="checkbox" checked=@CorticaService.EventFilterCameraAll @onchange="eventArgs => { CamerasFilterAll((bool)eventArgs.Value); }" />All Cameras</label>
                        @foreach (var cam in CorticaService.EventFilterCameras)
                        {
                            <br /><label><input type="checkbox" value=@cam.Id checked=@cam.CheckedVal @onchange="eventArgs => { CamerasFilter(cam.DisplayName, (bool)eventArgs.Value); }" />@cam.DisplayName</label>
                        }
                    </div>
                </div>
                <div class="listDropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Watchlists</b>
                    </button>
                    <div id="watchlists" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <label><input type="checkbox" checked=@CorticaService.EventFilterWatchlistAll @onchange="eventArgs => { WatchlistFilterAll((bool)eventArgs.Value); }" />All Watchlists</label>
                        @foreach (var watchlist in CorticaService.EventFilterWatchlist)
                        {
                            <br /><label><input type="checkbox" value=@watchlist.Id checked=@watchlist.CheckedVal @onchange="eventArgs => { WatchlistFilter(watchlist.DisplayName, (bool)eventArgs.Value); }" />@watchlist.DisplayName</label>
                        }
                    </div>
                </div>
                <div class="listDropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Time</b>
                    </button>
                    <div id="time" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <label><input type="radio" name="filterTime" value="-1" checked="checked" @onclick="(() => { TimeFilter(int.MaxValue); })" />All Time</label>
                        <br /><label><input type="radio" name="filterTime" value="60" @onchange="(() => { TimeFilter(60); })" />Last Hour</label>
                        <br /><label><input type="radio" name="filterTime" value="180" @onchange="(() => { TimeFilter(180); })" />Last 3 Hours</label>
                        <br /><label><input type="radio" name="filterTime" value="1440" @onchange="(() => { TimeFilter(1440); })" />Last 24 Hours</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="list col-md-10">
            <div class="listHeader">
                <u><b>CAMERA LIST</b></u>
            </div>
            <div class="cameraListCams">
                <table>
                    <tbody>
                        <tr>
                            @foreach (var cam in CorticaService.EventFilterCameras)
                            {
                                <td>
                                    <div class="camList">
                                        <figure>
                                            <img src="media/images/WebCam_Snapshot.PNG" alt="CameraImage" height="120" />
                                            <figcaption>@cam.DisplayName</figcaption>
                                        </figure>
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="list col-sm-2">
            <div class="listHeader">
                <u><b>MATCHES FEED</b></u>
            </div>
            <div class="row">
                <div class="listContent">
                    <div class="contentRow row">
                        @foreach (var e in _faceList)
                        {
                            @if (e.IsMatch)
                            {
                                <div class="listContentItem col-sm-6">
                                    <div class="matchItem">
                                        <div class="btnHover">
                                            <figure>
                                                <label class="camera">@e.CameraName</label>
                                                <label class="time">@e.FrameDateTime.ToLocalTime().ToString("HH:mm:ss")</label>
                                                <img src=@($"data:image/jpeg;base64, {e.CropImage}") alt="Crop_Image" />
                                                <div class="tooltipstyle">
                                                    <a href="#" data-toggle="tooltip" class="poi" title="@e.PoiName">
                                                        @if (String.IsNullOrWhiteSpace(e.PoiName) || e.PoiName.Length < 10)
                                                        {
                                                            @e.PoiName;
                                                        }
                                                        else
                                                        {
                                                            @e.PoiName.Substring(0, 10);
                                                        }
                                                    </a>
                                                </div>
                                                <div class="tooltipstyle">
                                                    <label class="confidence">
                                                        <a href="#" data-toggle="tooltip" title="Face Score">@(e.FaceScore.HasValue ? $"{e.FaceScore.Value.ToString("0")}" : "")</a>
                                                    </label>
                                                </div>
                                            </figure>
                                            <p>@e.FrameDateTime.ToLocalTime()</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="listContentItem col-sm-6">
                                    <div class="matchItem">
                                        <div class="tooltipstyle">
                                            <a href="#" data-toggle="tooltip" title="@e.WatchlistCsv">Watchlists</a>
                                        </div>
                                        <figure>
                                            <img src=@($"data:image/jpeg;base64, {e.PoiImage}") alt="PoiImage" />
                                            <div class="tooltipstyle">
                                                <a href="#" data-toggle="tooltip" class="poi" title="@e.PoiName">
                                                    @if (String.IsNullOrWhiteSpace(e.PoiName) || e.PoiName.Length < 10)
                                                    {
                                                        @e.PoiName;
                                                    }
                                                    else
                                                    {
                                                        @e.PoiName.Substring(0, 10);
                                                    }
                                                </a>
                                            </div>
                                            <label class="confidence">@(e.Confidence.HasValue ? $"{e.Confidence.Value.ToString("0")}%" : "")</label>
                                        </figure>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="list col-sm-10">
            <div class="listHeader">
                <u><b>EVENTS FEED</b></u>
            </div>
            <div class="columnAppearanceL">
                Appearance Counter [@CorticaService.AppearCount]
            </div>
            <div class="columnAppearanceR">
                POI Matches [@CorticaService.MatchCount]
            </div>
            @*<br>
                @counter
                <br />*@
            <button class="btn btn-primary" @onclick="Sub">@myLabel</button>
            <div class="row">

                <div class="listContent">
                    <div class="contentRow row">

                        @foreach (var e in _faceList)
                        {
                            <div class="listContentItem col-sm-2">
                                <div class="eventItem">
                                    <div class="btnHover">
                                        <figure>
                                            <label class="camera">@e.CameraName</label>
                                            <label class="time">@e.FrameDateTime.ToLocalTime().ToString("HH:mm:ss")</label>
                                            <img src=@($"data:image/jpeg;base64, {e.CropImage}") alt="Crop_Image" />
                                            <div class="tooltipstyle">
                                                <a href="#" data-toggle="tooltip" class="poi" title="@e.PoiName">
                                                    @if (String.IsNullOrWhiteSpace(e.PoiName) || e.PoiName.Length < 20)
                                                    {
                                                        @e.PoiName;
                                                    }
                                                    else
                                                    {
                                                        @e.PoiName.Substring(0, 20);
                                                    }
                                                </a>
                                            </div>
                                            <label class="confidence">@(e.Confidence.HasValue ? $"{e.Confidence.Value.ToString("0")}%" : "")</label>
                                        </figure>
                                        <div class="listDropdown">
                                            <button class="btn" @onclick="(() => { OnPauseFeed(true); })" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu">
                                                <u><b>Actions:</b></u><br />
                                                @if (!e.IsMatch)
                                                {
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#EnrollModal" @onclick="(() => { PoisToCreate.Clear(); OnPauseFeed(false); PoisToCreate.Add(new PoiCreateParameter() { Display_img = e.CropImage, Display_name = BlankEnrollName }); })"><i class="fas fa-user-secret"></i>  Add POI</a>
                                                }
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#SearchModal" @onclick="(() => { ClearSearchModal(); OnPauseFeed(false); faceSearchParameters.FaceImg = e.CropImage; faceSearchParameters.Crops.Add(new FaceSearchCropParameters() { CropImg = faceSearchParameters.FaceImg, Selected = true }); })"><i class="fab fa-searchengin"></i>  Search POI</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#EditModal" @onclick="(() => {
                                                                                                                                             PoisToCreate.Clear();
                                                                                                                                             OnPauseFeed(false);
                                                                                                                                             faceSearchParameters.FaceImg = e.CropImage;
                                                                                                                                             faceSearchParameters.MinConfidence = 10;
                                                                                                                                             faceSearchParameters.MaxMatchesPerServer = 10;
                                                                                                                                             faceSearchParameters.Crops.Add(new FaceSearchCropParameters() { CropImg = faceSearchParameters.FaceImg, Selected = true });

                                                                                                                                             OnSearch();
                                                                                                                                             PoisToCreate.Add(new PoiCreateParameter() { Display_img = e.CropImage });
                                                                                                                                         })"><i class="fab fa-searchengin"></i>  Edit POI</a>
                                            </div>
                                        </div>
                                        <p>@e.FrameDateTime.ToLocalTime()</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modalAlert" id="AlertsModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="col-sm-11 modal-title text-center">ALERTS</h4>
                <button type="button" class="col-sm-1 close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="ListContent">
                        <div class="contentRow row">
                            @foreach (var e in _faceList)
                            {
                                @if (e.IsMatch)
                                {
                                    <div class="container-fluid">
                                        <div class="row" style="padding:5px;">
                                            <div class="alertBlock">
                                                <div class="col-sm-6 listImage">
                                                    <img class="imgCrop" src=@($"data:image/jpeg;base64, {e.CropImage}") alt="Crop_Image" />
                                                    <img class="imgPOI" src=@($"data:image/jpeg;base64, {e.PoiImage}") alt="PoiImage" />
                                                </div>
                                                <div class="col-sm-6 listDetail">
                                                    <div class="contentList">
                                                        <p>POI ID:</p>
                                                        <p>Camera:</p>
                                                        <p>Time Recorded:</p>
                                                        <p>Confidence:</p>
                                                        <p>Tracked:</p>
                                                        <p>Watchlist:</p>
                                                    </div>
                                                    <div class="contentList">
                                                        <p>@e.PoiName</p>
                                                        <p>@e.CameraName</p>
                                                        <p>@e.AppearanceDateTime.ToLocalTime().ToShortTimeString()</p>
                                                        <p>@(e.Confidence.HasValue ? $"{e.Confidence.Value.ToString("0")}%" : "")</p>
                                                        <p>@e.Tracked</p>
                                                        <p>@e.WatchlistCsv</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modalAddPOI" id="EnrollModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="col-sm-12 modal-title text-center">POI Manager</h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-sm-12 section">
                        POI IMAGE(S)
                    </div>
                    <div style="padding-top:5px;">
                        <p style="font-size:14px;">
                            Please select an image or multiple images for POI enrollment from your device:<br />
                        </p>
                    </div>
                    <div style="padding-bottom:10px;">
                        <BlazorInputFile.InputFile multiple OnChange="HandleFileSelectedToEnroll"></BlazorInputFile.InputFile>
                        <p style="font-size:13px;">
                            <strong style="color:red;">Please do not add multiple images of the same POI for multiple POI enrollments!</strong>
                        </p>
                    </div>
                    <div class="row justify-content-center" style="padding-bottom: 10px;">
                        <div class="wrapper">
                            <p hidden="@IconVisible">Uploading Image. . .</p>
                            @foreach (var poi in PoisToCreate)
                            {
                                <div class="slide">
                                    <img src=@($"data:image/jpeg;base64, {poi.Display_img}") alt="Poi_Image" />
                                    <p><input type="text" @bind="poi.Display_name" /></p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-sm-12 section">
                        ENROLLMENT SERVER(S)
                    </div>
                    <div class="modalAddDropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b>Servers</b>
                        </button>
                        <div id="servers" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var server in CorticaService.CorticaServers)
                            {
                                <label><input type="checkbox" value=@server.ServerName @bind="server.PoiEnrollSelected" />@server.ServerName</label><br />
                            }
                        </div>
                    </div>
                    <div class="col-sm-12 section">
                        ENROLLMENT WATCHLIST(S)
                    </div>
                    <div class="modalAddDropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b>Watchlists</b>
                        </button>
                        <div id="watchlists" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var watchlist in CorticaService.PoiEnrollmentWatchlist.Where((w) => CorticaService.CorticaServers.Any((s) => s.ServerName == w.ServerName && s.PoiEnrollSelected)))
                            {
                                <label><input type="checkbox" value=@watchlist.Id @bind="watchlist.CheckedVal" />@watchlist.DisplayName</label><br />
                            }
                        </div>
                    </div>
                    <div class="col-sm-12 actions">
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="proceed left" type="button" data-dismiss="modal" @onclick="OnEnroll">Enroll POI</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="cancel left" type="button" data-dismiss="modal" @onclick="OnCancelEnroll">Cancel Enrollment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modalAddPOI" id="EditModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="col-sm-12 modal-title text-center">POI Manager</h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-sm-12 section">
                        ADD IMAGE TO POI
                    </div>
                    <div style="padding-top:5px;">
                        <p style="font-size:14px;">
                            The following images will be added to the selected POI:<br />
                        </p>
                    </div>
                    <div class="row justify-content-center" style="padding-bottom: 10px;">

                        <div class="col-sm-12 section">
                            SELECTED POI
                        </div>
                        <div class="wrapper">

                            <img src=@($"data:image/jpeg;base64, {selectedPoiDetail.Display_img}") style="width: 45px;" alt="Poi_Image" />
                            <p><input type="text" @bind="selectedPoiDetail.Display_name" disabled /></p>
                        </div>

                    </div>
                    <div class="row justify-content-center" style="padding-bottom: 10px;">
                        <div class="wrapper">
                            <p hidden="@IconVisible">Uploading Image. . .</p>

                            <div class="slide">
                                @*<img src=@($"data:image/jpeg;base64, {selectedPoiDetail.Display_img}") alt="Poi_Image" />*@
                                @if (PoisToCreate.Count > 0)
                                {
                                    <img src=@($"data:image/jpeg;base64, {PoisToCreate.First().Display_img}") alt="Poi_Image" />
                                    foreach (var s in faceSearchResults)
                                    {
                                        <p><input type="text" @bind="faceSearchResults.First().PoiName" disabled /></p>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center" style="padding-bottom: 10px;">
                        <div class="col-sm-12 section">
                            CHOOSE POI MANUALLY
                        </div>
                        <div class="wrapper">
                            <p hidden="@IconVisible">Uploading Image. . .</p>
                            @foreach (var poi in _allPoisDetails.Where((p) => p.Poi_id != selectedPoi))
                            {
                                <div class="slide" @onclick="()=>setSelectedPoi(poi.Poi_id)">
                                    <img src=@($"data:image/jpeg;base64, {poi.Display_img}") alt="Poi_Image" />

                                    <p><input type="text" @bind="poi.Display_name" disabled /></p>


                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-sm-12 actions">
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="proceed left" type="button" data-dismiss="modal" @onclick="OnEdit">Edit POI</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="cancel left" type="button" data-dismiss="modal" @onclick="OnCancelEnroll">Cancel Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modalSearchPOI" id="SearchModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="col-sm-12 modal-title text-center">POI Search</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div style="padding-top:5px;">
                        <p style="font-size:15px;">
                            Please select an image of a POI to search through watchlists:<br />
                        </p>
                        <BlazorInputFile.InputFile single OnChange="HandleFileSelectedToSearch" />
                    </div>
                    <div class="container-fluid">
                        <div class="row justify-content-center imgBox">
                            <p hidden="@IconVisible">Uploading Image. . .</p>
                            @foreach (var crop in faceSearchParameters.Crops)
                            {
                                <div class="col-4 imgSlider">
                                    <img src=@($"data:image/jpeg;base64, {crop.CropImg}") style=@(crop.Selected ? "border: 3px solid green;" : "background-color:transparent;") @onclick="(() => { faceSearchParameters.FaceImg = crop.CropImg; faceSearchParameters.Select(crop); })" />
                                </div>
                            }
                        </div>
                    </div>
                    <div style="font-size: 18px; padding-top: 5px; padding-bottom: 5px;">
                        <u><b>Search Properties:</b></u>
                    </div>
                    <div class="row">
                        <div class="col-6" style="width: 100%;">
                            <label style="font-size:15px;">Min Confidence:</label>
                            <input type="number" style="font-size: 15px; width: 50px;" @bind="faceSearchParameters.MinConfidence" />
                        </div>
                        <div class="col-6" style="width: 100%;">
                            <label style="font-size:15px;">Max Matches:</label>
                            <input type="number" style="font-size: 15px; width: 50px; " @bind="faceSearchParameters.MaxMatchesPerServer" />
                        </div>
                    </div>
                    <div style="font-size: 18px; padding-top: 5px; padding-bottom: 5px;">
                        <span>
                            <label><b>Search Result(s):</b></label>
                            <label class="resultFeedback">@resultFeedback</label>
                        </span>
                    </div>
                    <div class="container-fluid" style="height:180px; overflow-x:hidden; border: 1px solid white;">
                        @foreach (var m in faceSearchResults)
                        {
                            <div class="container-fluid" style="padding-bottom:10px;">
                                <div class="row" style="border-bottom: 1px solid white; padding:5px;">
                                    <div class="col">
                                        <table class="displayResultIMG" valign="center">
                                            <tr>
                                                <td>
                                                    <img src=@($"data:image/jpeg;base64, {m.Img}") height="120" valign="center" alt="POI_image" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col">
                                        <div class="resultSet">
                                            <span>
                                                <u>Server:</u><br />
                                                @m.ServerName <br />
                                                <br />
                                                <u>POI Name:</u><br />
                                                @m.PoiName <br />
                                                <br />
                                                <u>Confidence:</u><br />
                                                @decimal.Round(Convert.ToDecimal(m.Confidence), 0)% <br />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="resultSet">
                                            <span>
                                                <u>Watchlist(s):</u><br />
                                                @foreach (var w in m.Watchlists)
                                                {
                                                    @w.Display_name<br />
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-sm-12 actions">
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="proceed left" type="button" @onclick="OnSearch">Search</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="cancel left" type="button" data-dismiss="modal" @onclick="OnCancelSearch">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="CommsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="col-sm-12 modal-title text-center">Server Connections</h4>
            </div>
            <div class="modal-body">
                @foreach (var server in CorticaService.CorticaServers)
                {
                    <div class="ServerStatusItem" style="text-align:left; padding:10px;">
                        <h4><b>@server.ServerName</b></h4>
                        <p>
                            Status = @server.Online<br />
                            Last Communication = @server.LastComms<br />
                        </p>
                        @*<button type="button" @onclick="(() => { OnCommsRefresh(); })">Refresh Connection</button>*@
                        @*<button type="button" >Pause Event Feed</button><br><br>
                            <button type="button" >Unpause Event Feed</button>*@
                    </div>
                }
            </div>
            <div class="col-sm-12 actions" style="padding-bottom:30px;">
                <button class="cancel left" type="button" data-dismiss="modal" @onclick="OnCancelSearch">Close</button>
            </div>
        </div>
    </div>
</div>

@*<audio id="player">
        <source id="playerSource" src="" />
    </audio>*@

@code
{
    private const string BlankEnrollName = "Uniform Mike Foxtrot";
    private List<PoiCreateParameter> PoisToCreate { get; } = new List<PoiCreateParameter>();

    private FaceSearchParameters faceSearchParameters = new FaceSearchParameters();
    private IList<FaceSearchMatch> faceSearchResults = new List<FaceSearchMatch>();
    private static List<FaceDetectedEvent> _faceList = new List<FaceDetectedEvent>();
    private bool IconVisible { get; set; } = true;
    private bool SearchResultVisible { get; set; } = true;
    private string resultFeedback;

    private static IEnumerable<PoisGet> _allPois;
    private static List<PoiDetail> _allPoisDetails = new List<PoiDetail>();
    private static List<string> _allPoisIDs = new List<string>();
    private string selectedPoi = "";
    private PoiDetail selectedPoiDetail = new PoiDetail();

    private int resultCount;

    private static System.Timers.Timer pauseTimer;
    private int counter = 60;
    private string myLabel = "Unsubscribe"; // because I am too lazy to figure out a better way.

    protected override void OnInitialized()
    {
        CorticaService.OnChange += CorticaService_OnChange;
        CorticaService.Alert += CorticaService_Alert;
        CorticaService.Error += CorticaService_Error;
        OnGetAllPois();

    }

    private async void setSelectedPoi(string id)
    {
        var AccessToken = await GetAccessToken();
        selectedPoi = id;
        List<string> tempList = new List<string>();
        tempList.Add(id);
        selectedPoiDetail = await CorticaService.GetPoiData(AccessToken, tempList, CorticaService.CorticaServers.Select((s) => s.PoiApiUrl).ToArray());
        Console.WriteLine("Selected POI: " + selectedPoiDetail.Display_name);
    }

    private async void HandleFileSelectedToEnroll(IFileListEntry[] files)
    {
        PoisToCreate.Clear();
        ToggleIconLoad();
        foreach (var file in files)
        {
            byte[] buffer = new byte[file.Data.Length];

            int bytesread = 0;
            while (bytesread < buffer.Length)
            {
                bytesread += await file.Data.ReadAsync(buffer, bytesread, buffer.Length - bytesread);
            }
            string base64Img = Convert.ToBase64String(buffer);

            PoisToCreate.Add(new PoiCreateParameter() { Display_name = System.IO.Path.GetFileNameWithoutExtension(file.Name), Display_img = base64Img });
        }
        ToggleIconLoad();
        StateHasChanged();
    }

    private async void OnGetAllPois()
    {
        List<string> idList = new List<string>();
        var AccessToken = await GetAccessToken();

        var result = await CorticaService.GetAllPois(AccessToken, CorticaService.CorticaServers.Select((s) => s.PoiApiUrl).ToArray());
        _allPois = result;
        foreach (var res in result)
        {
            foreach (var poi in res.Data.Pois)
            {
                _allPoisIDs.Add(poi.Poi_id);
            }
        }
        _allPoisIDs = _allPoisIDs.Distinct().ToList();
        OnGetAllPoisData();
    }

    private async void OnGetAllPoisData()
    {
        List<PoiDetail> tempList = new List<PoiDetail>();
        var AccessToken = await GetAccessToken();
        var result = await CorticaService.GetAllPoisData(AccessToken, _allPoisIDs, CorticaService.CorticaServers.Select((s) => s.PoiApiUrl).ToArray());
        foreach (var res in result)
        {
            foreach (var pois in res.Data.Pois)
            {
                tempList.Add(pois);
            }
        }
        _allPoisDetails = tempList;
    }

    private async void OnEnroll()
    {
        var AccessToken = await GetAccessToken();
        var result = await CorticaService.EnrollPois(PoisToCreate, AccessToken, CorticaService.PoiEnrollmentWatchlist, CorticaService.CorticaServers.Where((s) => s.PoiEnrollSelected).Select((s) => s.ServerName).ToArray());

        int success = 0;
        int fail = 0;
        string failures = "\nFailures:";

        foreach (var e in result)
        {
            foreach (var s in e.Metadata.Success_list)
            {
                if (s.Success)
                {
                    success++;
                }
                else
                {
                    fail++;
                    failures += $"\n{s.Msg}";
                }
            }
        }

        ClearEnrollmentModal();

        toastService.ShowSuccess($"Enrolled {success} out of {success + fail} pois.{(fail > 0 ? failures : string.Empty)}", "POI Enrollment");
    }

    private async void OnEdit()
    {
        PoiCreateParameter myPoi = new PoiCreateParameter();

        if (faceSearchResults.Count > 0 || PoisToCreate.Count > 0)
        {
            myPoi.Poi_Id = selectedPoi;
            myPoi.Display_img = selectedPoiDetail.Display_img;
        }

        var AccessToken = await GetAccessToken();
        var result = await CorticaService.AddFace(PoisToCreate.First().Display_img, AccessToken, CorticaService.CorticaServers.Select((s) => s.ServerName).ToArray(), selectedPoi);

        int success = 0;
        int fail = 0;
        string failures = "\nFailures:";

        foreach (var e in result)
        {
            foreach (var s in e.Metadata.Success_list)
            {
                if (s.Success)
                {
                    success++;
                }
                else
                {
                    fail++;
                    failures += $"\n{s.Msg}";
                }
            }
        }

        ClearEnrollmentModal();

        toastService.ShowSuccess("Success!", "POI Editing");
    }

    private void OnPauseFeed(bool value)
    {
        if (value == true)
        {
            CorticaService.TogglePauseFeed(value);
            PauseEventTimer();
        }
        else
        {
            CorticaService.TogglePauseFeed(value);
            pauseTimer.Enabled = false;
            counter = 60;
        }
    }

    public void PauseEventTimer()
    {
        pauseTimer = new System.Timers.Timer(1000);
        pauseTimer.Elapsed += CountDownTimer;
        pauseTimer.Enabled = true;
    }

    public void CountDownTimer(Object source, ElapsedEventArgs e)
    {
        if (counter > 0)
        {
            counter -= 1;
        }
        else
        {
            pauseTimer.Enabled = false;
            OnPauseFeed(false);
        }
        InvokeAsync(StateHasChanged);
    }

    private void OnCancelEnroll()
    {
        ClearEnrollmentModal();
    }

    private void ClearEnrollmentModal()
    {
        PoisToCreate.Clear();

        foreach (var s in CorticaService.CorticaServers)
        {
            s.PoiEnrollSelected = false;
        }

        foreach (var w in CorticaService.PoiEnrollmentWatchlist)
        {
            w.CheckedVal = false;
        }

        StateHasChanged();
    }

    private async void HandleFileSelectedToSearch(IFileListEntry[] files)
    {
        faceSearchResults.Clear();
        resultFeedback = string.Empty;
        faceSearchParameters.Crops.Clear();
        ToggleIconLoad();

        foreach (var file in files)
        {
            byte[] buffer = new byte[file.Data.Length];

            int bytesread = 0;
            while (bytesread < buffer.Length)
            {
                bytesread += await file.Data.ReadAsync(buffer, bytesread, buffer.Length - bytesread);
            }

            faceSearchParameters.baseImg = Convert.ToBase64String(buffer);

            var faces = await CorticaService.DetectFaces(faceSearchParameters.baseImg);

            foreach (var face in faces)
            {
                faceSearchParameters.Crops.Add(new FaceSearchCropParameters() { CropImg = face });
            }

            faceSearchParameters.FaceImg = faceSearchParameters.Crops[0].CropImg;
            faceSearchParameters.Crops[0].Selected = true;

            break;
        }
        ToggleIconLoad();
        StateHasChanged();
    }

    private void ToggleIconLoad()
    {
        IconVisible = !IconVisible;
    }

    private async void OnSearch()
    {
        var AccessToken = await GetAccessToken();
        var result = await CorticaService.SearchFaceAsync(faceSearchParameters.FaceImg, AccessToken,
                                            CorticaService.FaceSearchWatchlist,
                                            CorticaService.CorticaServers.Select((s) => s.ServerName).ToArray(),
                                            faceSearchParameters.MinConfidence,
                                            faceSearchParameters.MaxMatchesPerServer);

        faceSearchResults.Clear();
        resultCount = 0;
        resultFeedback = string.Empty;

        foreach (var match in result)
        {
            faceSearchResults.Add(match);
            resultCount++;
        }

        if (faceSearchResults.Count > 0)
        {
            //selectedPoi = faceSearchResults.ElementAt(0).PoiId;
            setSelectedPoi(faceSearchResults.ElementAt(0).PoiId);
        }
        resultFeedback = $"  {resultCount} Results Found!";
        StateHasChanged();
    }

    private void OnCancelSearch()
    {
        ClearSearchModal();
    }

    private void ClearSearchModal()
    {
        faceSearchParameters = new FaceSearchParameters();
        faceSearchResults.Clear();
        StateHasChanged();

        resultFeedback = "";
        StateHasChanged();

        faceSearchResults.Clear();
        StateHasChanged();
    }

    public void TimeFilter(int value)
    {
        CorticaService.EventFilterTime = value;
        StateHasChanged();
    }

    public void CamerasFilterAll(bool Checked)
    {
        CorticaService.EventFilterCameraAll = Checked;

        foreach (var cam in CorticaService.EventFilterCameras)
        {
            CamerasFilter(cam.DisplayName, Checked);
        }
    }

    public void CamerasFilter(string SelectedCamera, bool Checked)
    {
        var filterCam = CorticaService.EventFilterCameras.First((c) => c.DisplayName == SelectedCamera);
        if (filterCam != null)
        {
            filterCam.CheckedVal = Checked;
        }

        StateHasChanged();
    }

    public void WatchlistFilterAll(bool Checked)
    {
        CorticaService.EventFilterWatchlistAll = Checked;

        foreach (var watchlist in CorticaService.EventFilterWatchlist)
        {
            WatchlistFilter(watchlist.DisplayName, Checked);
        }
    }

    public void WatchlistFilter(string SelectedWatchList, bool Checked)
    {
        var filterWachlist = CorticaService.EventFilterWatchlist.First((wl) => wl.DisplayName == SelectedWatchList);
        if (filterWachlist != null)
        {
            filterWachlist.CheckedVal = Checked;
        }

        StateHasChanged();
    }

    private static async Task<string> GetAccessToken()
    {
        var _Token = await AuthService.PostAuth();
        return _Token;
    }

    private async Task OnCommsRefresh()
    {
        await CorticaService.CorticaServices();
    }

    private void CorticaService_OnChange()
    {
        if (isSub)
            InvokeAsync(() => StateHasChanged());
    }

    private void CorticaService_Alert(object sender, E_SIGHT.EventArguments.FaceDetectedEventArgs e)
    {
        if (e.FaceList != null)
            _faceList = e.FaceList.ToList();

        foreach (var watchlist in e.Data.Watchlists)
        {
            toastService.ShowError($"{e.Data.PoiName} was detected on {watchlist.Display_name} by {e.Data.CameraName} on {e.Data.ServerName}!", "Match Notification");

            if (watchlist.Display_name == "Troublemaker")
            {
                //PlayAudioFileAsync();
                js.InvokeVoidAsync("PlayAudioFile", "/media/sounds/AircraftAlarmSound.mp3");
            };
        }
    }

    //async Task PlayAudioFileAsync()
    //{
    //    await js.InvokeVoidAsync("PlayAudioFile", "/media/sounds/AircraftAlarmSound.mp3");
    //}

    private void CorticaService_Error(object sender, E_SIGHT.EventArguments.ErrorEventArgs e)
    {
        toastService.ShowError($"{e.ErrorMsg}", "Error");
    }
    bool isSub = true;
    void Sub()
    {

        if (!isSub)
        {
            _faceList = CorticaService.faceEvents.ToList();
            CorticaService.Alert += CorticaService_Alert;
            isSub = true;
            myLabel = "Unsubscribe";
        }
        else
        {
            CorticaService.Alert -= CorticaService_Alert;
            isSub = false;
            myLabel = "Subscribe";
        }

    }

}
