﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="container-fluid">
    <div class="container confirmation">
        <img id="sidebarCollapse" class="Logo" src="/media/logo/Logo_Dark2.PNG" alt="Logo">
        <hr />
        <section>
            <form>
                <div class="form-group">
                    <h3>@ViewData["Title"]</h3>
                </div>
                <div class="form-group">
                    <a href="Identity/Account/Login">Please click here to return to the login page.</a>
                </div>
            </form>
        </section>
    </div>
</div>
