﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container-fluid">
    <div class="container confirmation">
        <img id="sidebarCollapse" class="Logo" src="/media/logo/Logo_Dark2.PNG" alt="Logo">
        <hr />
        <section>
            <form method="post">
                <div class="form-group">
                    <h4>@ViewData["Title"]</h4>
                </div>
                <!--<div asp-validation-summary="All" class="text-danger"></div>-->
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="/Account/Login">Back to login?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
