﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container-fluid">
    <div class="container confirmation">
        <img id="sidebarCollapse" class="Logo" src="/media/logo/Logo_Dark2.PNG" alt="Logo">
        <hr />
        <section>
            <form>
                <div class="form-group">
                    <h3>@ViewData["Title"]</h3>
                </div>
                <div class="form-group">
                    <p>
                        Please check your email to reset your password.
                    </p>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="/Account/Login">Back to login?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    </div>
