﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid">
    <div class="confirmation">
        <img id="sidebarCollapse" class="Logo" src="/media/logo/Logo_Dark2.PNG" alt="Logo">
        <hr />
        <section>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <!--<h1>@ViewData["Title"]</h1>-->
                <div class="form-group">
                    <h4>Create a new account.</h4>
                </div>
                <div class="form-group">
                    <p>
                        <u>Password should meet the following:</u> <br />
                        1. Have more than 6 characters. <br />
                        2. Require atleast 1 uppercase letter. <br />
                        3. Require atleast 1 lowercase letter. <br />
                        4. Require atleast 1 number. <br />
                    </p>
                </div>
                <!--<div asp-validation-summary="All" class="text-danger"></div>-->
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="/Account/Login">Back to login?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
