﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container-fluid">
    <div class="container confirmation">
        <img id="sidebarCollapse" class="Logo" src="/media/logo/Logo_Dark2.PNG" alt="Logo">
        <hr />
        <section>
            <form method="post">
                <div class="form-group">
                    <h4>@ViewData["Title"]</h4>
                </div>
                <div class="form-group">
                    @{
                        if (@Model.DisplayConfirmAccountLink)
                        {
                        <p>
                            This app does not currently have a real email sender registered, normally this would be emailed. <br />
                            <br />
                            <b><a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account.</a></b>
                        </p>
                        }
                        else
                        {
                        <p>
                            Please check your email to confirm your account.
                        </p>
                        }
                    }
                </div>
            </form>
        </section>
    </div>
</div>
