﻿@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="container-fluid">
    <div style="position: absolute; background-color: #262626; top: 30%; left: 50%; width: 350px; height: 300px; transform: translate(-50%, -50%); text-align: center; border: 2px solid #EC8824; border-radius: 25px; padding: 10px;">
        <h1>@ViewData["Title"]</h1>
        <section>
            <form method="post">
                <h4>Reset your password.</h4>
                <hr style="border-bottom: 1px solid #EC8824;" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary" style="background-color:#EC8824; border: 1px solid black;">Reset</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
