﻿@inherits LayoutComponentBase
@inject Services.CorticaService CorticaService

<AuthorizeView>
    <nav class="navbar navbar-expand-lg">
        <img id="sidebarCollapse" class="Logo" src="media/logo/Logo_Dark2.PNG" alt="Logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-desktop"></i><span> LIVE</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/EventHistory"><i class="fas fa-database"></i><span> HISTORY</span></a>
                </li>
                <li class="nav-item">
                    <button class="navIcon btn" data-toggle="modal" data-target="#EnrollModal"><i class="fas fa-user-secret"></i><span> ENROLLMENT</span></button>
                </li>
                <li class="nav-item">
                    <button class="navIcon btn" data-toggle="modal" data-target="#SearchModal"><i class="fab fa-searchengin"></i><span> SEARCH</span></button>
                </li>
                <li class="nav-item">
                    <button class="navIcon btn" data-toggle="modal" data-target="#AlertsModal"><i class="fas fa-exclamation-triangle"></i><span> ALERTS</span></button>
                </li>
                <li class="nav-item">
                    <button class="navIcon btn" data-toggle="modal" data-target="#CommsModal"><i class="fa fa-link"></i></button>
                </li>
                @*<AuthorizeView Roles="Admin">
                        <li class="nav-item">
                            <form method="post" action="Identity/Account/Manage/_Layout">
                                <button type="submit" class="nav-link btn btn-link" style="color:red;"><i class="fas fa-sign-out-alt"></i></button>
                            </form>
                        </li>
                    </AuthorizeView>*@
                <li class="nav-item">
                    <form method="post" action="Identity/Account/LogOut">
                        <button type="submit" class="nav-link btn btn-link" style="color:red;"><i class="fas fa-sign-out-alt"></i></button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>


    @Body

    <div class="footer">
        <p>© Copyright 2020 | <a href="http://www.ethele.co.za">e-Thele SQD Networks</a> | All Rights Reserved</p>
    </div>
    @using Blazored.Toast.Configuration
    <BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomRight" Timeout="4" />
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <div class="bgimg">
            <div class="middle">
                <img class="Logo" src="media/logo/Logo_Dark2.PNG" alt="Logo"><br /><br />
                <button onclick="location.href = 'Identity/Account/Login';" class="btn btn-primary">Enter</button>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

